---
---

@import "{{ site.theme }}";

a#forkme_banner {
  display: none;
}

header h1 {
  font-size: 1.5rem;
}

header h2 {
  font-size: 2rem;
}

footer span.ribbon-inner p,
footer span.ribbon-inner p * {
  color: transparent !important;
}

footer p,
footer p * {
  color: transparent !important;
}

footer span.octocat {
  display: none;
}
